<h1>Oscar Contreras M.</h1>

<h3>Formulario de registro</h3>
<%= flash[:notice] %>
<%= form_tag pages_okregistro_path do %>
	<%= text_field_tag "name", nil, placeholder: 'Ingrese nombre' %>
	<%= text_field_tag "email", nil, placeholder: 'Ingrese email' %>
	<%= text_field_tag "edad", nil, placeholder: 'Ingrese edad' %>
	<%= submit_tag "Enviar", data: { confirm: "Esta seguro de enviar los datos?" } %>
<% end %>